/*
Theme Name: Listable Child
Theme URI: https://pixelgrade.com/demos/listable/
Author: PixelGrade
Author URI: https://pixelgrade.com/
Description: A directory WordPress theme that will help you create and manage a local or global listings site.
Template: listable
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: listable-child-theme
Domain Path: /languages/
Tags: light, white, red

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Listable is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/

/* ADD YOUR NEW CSS RULES HERE */

/* This file assumes you wish to add new CSS rules that will overwrite the ones in the parent's CSS files
If you wish however, you can copy the whole style.css file from the parent here and hack at it - see functions.php for more details.
In that case please remember that you still need to retain the header above (replace the header of the parent style.css with the one above),
specifically the 'Template: listable' line. */


.single:not(.single-job_listing) .entry-header.has-image::before, .page .entry-header.has-image::before{opacity: 0.0;}
.page-template-front_page .entry-subtitle.entry-subtitle p{font-size: 30px;}
.search_jobs  search_jobs--frontpage{padding: 15px;background: #ddd;}

.header-content .responsive-tabs .responsive-tabs__list__item{float: none;}
.header-content .responsive-tabs ul.responsive-tabs__list{margin: 20px 0 13px 12px;}
.header-content .responsive-tabs .responsive-tabs__panel{background: rgba(251,251,251,0.5);padding:20px;border:0px;border-radius: 5px;}
.header-content .responsive-tabs .responsive-tabs__list__item{background: rgba(251,251,251,0.3);border:0px;padding-bottom: 11px;color: #fff;}
.header-content .responsive-tabs .responsive-tabs__list__item:hover{background: rgba(251,251,251,0.3);border:0px;padding-bottom: 11px;color: #fff;}
.header-content .responsive-tabs .responsive-tabs__list__item--active{background: rgba(251,251,251,0.5);border:0px;padding-bottom: 10px;color: #fff;}
.page-template-front_page .entry-header{padding-bottom: 150px;padding-top: 200px;}
.search_jobs div{margin-right: 10px;}
.front-page-section .widget_title--frontpage .grid.grid--widget .card__content{padding: 0px;}
.front-page-section .widget_title--frontpage .grid{width: 90%;margin: 0 auto;border: 0px;}
.section-wrap .card--widget.card--widget{border:0px;}
.widget_front_page_listing_cards .card--widget.card--widget{border: 1px solid rgba(0, 0, 0, 0.075);
    box-shadow: none;}
.section-wrap .card__content{position: relative;}
.section-wrap .card__content span.hiw{color: #fff;font-size: 24px;margin: 0 auto;position: absolute;text-align: center;top: 62px;width: 180px;right: 0px;left: 0px;font-family:"Hanken";line-height :30px;word-spaceing :30px;
}
.card__content span i.wait-for-barbers{background: url('img/icon3.png'); display: block;height: 170px;width: 170px;margin-bottom: 15px;}
.card__content span i.find-barber-near{background: url('img/icon1.png');display: block;height: 170px;width: 170px;margin-bottom: 15px;}
.card__content span i.book-convenient{background: url('img/icon2.png');display: block;height: 170px;width: 170px;margin-bottom: 15px;}

.widgets_area .front-page-section:last-child{padding: 25px;float: left;width: 100%;}
.widgets_area .front-page-section #menu-social-menu li{float: left;width:20px;}

.widgets_area .front-page-section:nth-child(3) h2.front_page_sections_title{font-size: 36px;margin-bottom: 30px;text-align: center;}
.widgets_area .front-page-section:nth-child(2){float: left;width: 100%;}
.testimonial_rotator_widget_wrap .testimonial_rotator div.slide{border: 1px solid #ddd;
    float: left;margin-left:16px;margin-right: 17px;width: 30%;text-align: center;background: #fff;}
.testimonial_rotator.template-default .has-image .text, .testimonial_rotator_single.has-image.template-default .text {
    clear: both;display: block;margin: 0 auto;padding: 15px;text-align: center;width: 100%;}  
.testimonial_rotator.template-default .testimonial_rotator_author_info{border: 0px;padding: 0px;margin: 0px;}
.testimonial_rotator.template-default .testimonial_rotator_author_info p{padding: 0px;margin: 0px;}
.testimonial_rotator_slide_title{color: #00a5ff;font-size: 18px;font-weight: bold;text-transform: uppercase}

#testimonial_rotator_widget_wrap_ .testimonial_rotator_slide{border-bottom: 5px solid #00a5ff;border-radius: 5px;}
#testimonial_rotator_widget_wrap_ .testimonial_rotator_quote{margin-bottom: 10px;}
.testimonial_rotator_quote span.border{ background: #00a5ff none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin: 15px auto 0;
    padding: 0;
    width: 95px;}
#testimonial_rotator_widget_wrap_ .testimonial_rotator_img img{/*margin: -65px 0 0 80px;*/border: 5px solid #fff;
    border-radius: 50%;
    height: 120px;
    width: 120px;}
#testimonial_rotator_widget_wrap_ .testimonial_rotator_img{float: none;
    margin: -63px auto;
    width: 50%;/*position: absolute;*/}
#testimonial_rotator_widget_wrap_ .testimonial_rotator_description{padding-top: 65px;}
#masthead .custom-logo-link {
    filter: none !important;
}
.home .has-image .entry-featured{opacity: 0.8;}
.card__featured-tag{border-radius: 0px;color: #fff;background: rgba(0,0,0,0.58)  !important;display: block !important;left: 0;padding: 5px 10px;top: 65%;font-size: 12px;}
.widgets_area .front-page-section:nth-child(2) .card{background: #f9f9f9;}
.require{color: #ff0000;}
#testimonial_rotator_widget_{clear: both;display: block;float: left;margin: 0 auto;width: 100%;}
.rpt_style_basic .rpt_plan .rpt_foot{padding:10px !important;}
.rpt_custom_btn{padding:10px !important;}
/*.rpt_custom_btn .swpm-subscription-button-submit{background:#fff;}*/
input{border-color:#bbbbbb !important;}
#content {min-height:650px;}
.barber-profile {
    border-top: 1px solid #ddd;
    clear: both;
    margin-top: 5px;
    padding-top: 5px;
}
.barber-profile img{border-radius:10px;}
.none{display:none !important;}
.page-add-listing fieldset:first-child, .page-job-dashboard fieldset:first-child{
background: #f9f9f9 none repeat scroll 0 0; border: 0px;border-radius: 0px;font-size: 15px;line-height: 0;
    padding: 0px;}
.page-add-listing fieldset:first-child, .page-job-dashboard fieldset:first-child{margin-top: 0px;}
.swpm-login-submit,.swpm-forgot-pass-link{text-align:left;}
.view-profile{background: #00a5ff none repeat scroll 0 0; border-radius: 10px;color: #fff !important;  float: right;font-weight: bold;padding: 5px 15px;}
.barber-profile div{float: left;margin: 0 40px 0 0;}    
.barber-profile div img{border-radius: 10px;margin-bottom: 2px;height:50px;width:50px;}
.barber-profile div b{display: block;line-height: 0px;}
.fieldset-job_postal_code,.fieldset-job_author{display: none;}
.home .search_price,.home .search_premises,.home .search_rating{display:none;}
.page-listings .search_jobs div{float: left;width:23%;}
/*.page-listings .search_jobs div.search_price{width: 35%;}*/

.barber-single-profile .column-sidebar {width: 30%;}
.barber-single-profile{max-width: 1112px;width: 1112px;margin: 0 auto;}
.barber-single-profile .grid__item{margin-top: 0px;padding-top: 0px;}
.page-template-barber_list header.entry-header{ float: left;margin-top: 0;padding-top: 0;width: 100%;background: #fff;padding-bottom: 10px;
    padding-top: 10px;}
/*.page-template-barber_list #main{background: #ddd;}*/

.barber-profile-div .left{float: left;width: 47%;margin-right: 10px;}
.barber-profile-div{min-height: 200px;}
.barber-profile-div .right h2{font-size: 36px;}
.barber-profile-div img {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    height: 190px;
    width: 190px;
    object-fit: cover;
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -webkit-zoom-out;
    cursor: pointer;
}
/*.page-template-barber_list .inner-header{width:1112px;margin: 0 auto;}*/
/*for profile*/

.barber-title{font-size: 30px;text-align: left;color: #00a5ff;}
.barber-title span{display: block;font-size: 14px;color: #ccc;}
/*.fieldset-company_logo{display: block;}*/

.barber-profile-div .single-meta a.listing-contact{display: none;}

.fieldset-job_title,.fieldset-company_website,.field-description{display:none !important;}
#mks_author_widget-2 img{float:left;}
#mks_author_widget-2{padding-bottom: 65px;}

.booking-form{display: none;}

.page-template-dashboard #entry-content-anchor{width:100%;max-width: 100%;}
.page-template-dashboard #entry-content-anchor #listing_visible_bookings .booking-listing-header div{width:20%;float: left;border: 1px solid #ddd;text-align: center !important;font-weight: bold;}
.page-template-dashboard #entry-content-anchor #listing_visible_bookings .booking-listing-header{float: left;width: 100%;}
.page-template-dashboard #entry-content-anchor #listing_visible_bookings input{display: none;}
 .page-template-dashboard #entry-content-anchor #listing_visible_bookings .new-label{display: none;}
 .page-template-dashboard #entry-content-anchor #listing_visible_bookings{border: 1px solid #ddd;float: left;width:100%;}
 .page-template-dashboard #entry-content-anchor #listing_visible_bookings .booking-listing-row{float: left;width: 100%;border-bottom: 1px solid #ddd;}
 .page-template-dashboard #entry-content-anchor #listing_visible_bookings .booking-listing-row .booking-labels span{clear: both;color: #000;}
 .page-template-dashboard #entry-content-anchor #listing_visible_bookings .booking-listing-row .booking-labels span.hidden_items{display: none;}
 .page-template-dashboard #entry-content-anchor #listing_visible_bookings .booking-listing-row div.booking-listing-collumn{text-align: center;float: left;width: 20%;border-right: 1px solid #ddd;min-height: 160px;}
 .page-template-dashboard #entry-content-anchor #listing_visible_bookings .actions-fields-group a{border: 1px solid #7e7c7c;padding: 0 5px 3px;border-radius: 5px;margin: 0 5px;}
 .page-template-dashboard #entry-content-anchor #listing_visible_bookings .actions-fields-group a.approve_bk_link .icon-ok-circle{display: inline-block;
width: 14px;
height: 18px;
vertical-align: text-top;
background-image: url(http://development.hestawork.com/fivestart/wp-content/plugins/booking/interface/bs/img/glyphicons-halflings.png);
background-repeat: no-repeat;    
background-position: -190px -93px;
padding: 5px 8px;
 }
.page-template-dashboard #entry-content-anchor #listing_visible_bookings .actions-fields-group a.trash_bk_link .icon-trash1{display: inline-block;
width: 14px;
height: 18px;
vertical-align: text-top;
background-image: url(http://development.hestawork.com/fivestart/wp-content/plugins/booking/interface/bs/img/glyphicons-halflings.png);
background-repeat: no-repeat;    
background-position: -456px 3px;
padding: 5px 8px;
 }
.page-template-dashboard #entry-content-anchor #listing_visible_bookings .actions-fields-group a.pending_bk_link .icon-ban-circle{display: inline-block;
width: 14px;
height: 18px;
vertical-align: text-top;
background-image: url(http://development.hestawork.com/fivestart/wp-content/plugins/booking/interface/bs/img/glyphicons-halflings.png);
background-repeat: no-repeat;    
background-position: -215px -93px;
padding: 5px 8px;
 }
.hidden_items{display: none;}
.page-listings .search_price .job-manager-filter,.page-listings .search_premises .job-manager-filter,.page-listings .search_rating .job-manager-filter {display:block !important;}
.booking-form input[name=barber_id] {display:none;} 
#search_categories_chosen .chosen-drop{width:100% !important;}
#search_categories_chosen .chosen-drop ul li{padding:10px 10px !important;font-size:16px;color:#808080;}
.job-manager-form fieldset .job-manager-uploaded-files{width:100%;}
.job-manager-form fieldset .job-manager-uploaded-files .job-manager-uploaded-file{float:left;}
.chosen-container-active.chosen-with-drop .chosen-single,#search_categories_chosen .chosen-single{height:50px;}
.page-listings #search_categories{display:block !important;}
.page-listings #search_categories_chosen{display:none;}
#swpm-login-form input[type="text"],#swpm-login-form input[type="password"]{width:100%;}
.page-template-front_page article .section-wrap .nav-next{display:none;}
.single-job_listing .navigation.post-navigation{display:none;}
a.listing-contact{padding:0px;}
.listing--email::before {content: "";}
.right .email{display:block;}
.site-footer{min-height:200px !important;}
input, select, textarea {border-color: #bbb;}
.swpm-login-form-inner{width:75%;margin:0 auto;}
.fieldset-company_phone{display:none;}
.search_jobs--frontpage .search_location input{position:relative !important;top:0px;left:0px;height:51px;box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);}
.search_jobx--frontpage input{border-radius:5px;}
.page-listings .search_location{display:none;}
.swpm-profile-email-row{/*display:none;*/}
.chosen-container-single .chosen-single span{padding:13px 0;margin:0px;}
.search_jobs--frontpage #search_categories_chosen{width:245px !important;}
.search_jobs--frontpage .chosen-with-drop.chosen-container-active .chosen-single::after{border-top-color:#919191;}
#search_categories_chosen{display:none;}
#search_categories{display:block !important;}
.page-template-page-templatesfront_page-php .listable-child .search_jobs div{float:left;width:29%;}
#menu-main-menu li::before,.site-header .search-form::before{border:0px;}
/*.page-template-dashboard .swpm-edit-profile-form{width:100%;margin:0 auto;}*/
.page-id-11155 .swpm-edit-profile-form{width:60%;margin:0 auto;}
#address_street{width:95%;}
.fa{width:12px !important;margin-right:10px;}
.m15{margin-top:15px;}
.swpm-pp-subscription-wrapper input.swpm-subscription-button-submit{background: none repeat scroll 0 0;font-family: "Source Sans Pro,Helvetica,sans-serif";font-size: 20px;padding: 0;}
.swpm-pp-subscription-wrapper input.swpm-subscription-button-submit:hover{background:#00a5ff;padding:0px 10px;}
.free-sus a{font-family: "Source Sans Pro,Helvetica,sans-serif";font-size: 20px !important;}
#job_category_chosen .chosen-choices {height: 56px !important;}
.job-manager-form .chosen-container-multi .chosen-choices li.search-field{display: none;}
.fieldset-main_image input#main_image{display:none;}
.job-manager-form fieldset .job-manager-uploaded-files .job-manager-uploaded-file .job-manager-uploaded-file-preview a{padding:5px;}
.sidebar-nav #side-menu li.active{background: #00a5ff;}
.sidebar-nav #side-menu li.active a{color:#fff;}
.grid__item.column-sidebar div.listing-sidebar--bottom.listing-sidebar--secondary{float:right;margin-top:0px;}
#page-wrapper{padding:0 15px !important;}
.rpt_style_basic .rpt_plan .rpt_features .rpt_feature{padding:6px 12px !important;}
.job_listings .search_jobs select{display:block;}
.job_listings .search_postalcode,.job_listings .search_location{display:none;}
.rpt_plan.rpt_plan_0::before {
    position: absolute;
    content: '';
    background: rgba(251,251,251,0.5);
    width: 100% !important;
    z-index: 99;
    height: 100% !important;
}
.rpt_plan.rpt_plan_0::after {
    position: absolute;
    content: 'subscribed';
    width: 157px;
    height: 37px;
    right: -41px;
    top: 17px;
    color: #4a4949;
    background: #ccc;
    text-align: center;
    transform: rotate(45deg);
    font-size: 13px;
    line-height: 36px;
    /* overflow: hidden; */
    z-index: 99999;
    text-transform: uppercase;
}
.rpt_3_plans .rpt_plan_0{
    margin-right: 1.9%;
    position: relative;
    overflow: hidden;
}
.rpt_3_plans .rpt_plan_1{
    position: relative;
    overflow: hidden;
}
.sub-message{color:#fff;background:#00a5ff;padding:5px;}

hr:first-child, hr:last-child{height: 15px;}
.wbk-frontend-row{display: table !important;}
.wbk-inner-container{padding: 8px !important;}
#listing_actions-2{margin-top: 25px;}
#wbk-booking-done .wbk-details-sub-title{margin: 0px !important;text-align: center !important;}
.wpcf7-validation-errors{display:none !important;}
.swpm-login-widget-action-msg,.swpm-reset-pw-error{color:#ff0000;}
.swpm-login-submit{margin-top:10px;}
.wbk-inner-container .none{display:none !important;}

table.available-time{width: 90%;border: 1px solid #ddd;margin:0 auto;margin-bottom:10px;}
table.available-time th,table.available-time td{border: 1px solid #ddd;padding: 5px;}
table.available-time td span:not(:empty):not(:last-child):after {content: ", ";}
#show-next-month{ margin: 0 auto;width: 85%;}

/***last-update****/

.dashboards .fa-5x {
    font-size: 50px;
    color: #ddd;
}
.dashboards .all-rivews {
    margin: 3px 3px 15px 15px;
}
.dashboards .all-rivews p {
    font-size: 17px;
    letter-spacing: 1px;
    color: #B1B1B1;
}
.dashboards .huge {
    font-size: 45px;
    color: #2B2A2A;
    line-height: 45px;
    padding: 0px 10px;
}
.panel-footer span {
    color: #676666;
    padding-right: 5px;
}
.panel.panel-primary .fa-5x{
    color: #1ABA98;
}

.dashboards .panel-primary, .dashboards .panel-green, 
.dashboards .panel-yellow, 
.dashboards .panel-red {
    border: 1px solid #EAEAEA;
    box-shadow: 1px 1px 6px #F3F3F3;
}
.dashboards .panel-primary > .panel-heading , .dashboards .panel-green > .panel-heading
,  .dashboards .panel-yellow > .panel-heading ,  .dashboards .panel-red > .panel-heading{
    color: #fff;
    background-color: #fff;
    border-color: #ccc;
    border-bottom: none;
    padding-bottom: 20px;
}
.panel.panel-green .fa-5x{
    color:#FF5D48;
}
.panel.panel-yellow .fa-5x{
    color: #FF7BA3;
}
.panel.panel-red .fa-5x{
    color: #F1B53B;
}
.panel-footer {
    padding: 10px 15px;
    background: #fff !important;
    border: none !important;
}
.deshboards .nav>li>a {
    position: relative;
    display: block;
    padding: 15px 15px !important;
    color: #565656;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.deshboards .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #03A9F5 !important;
    color: #fff !important;
}
.description_tooltip{
    display: none;
}
.page-id-11248 #page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #F9F9F9 !important;
}
/**29-aug***/
.schedule .widget_sidebar_title {
    font-size: 30px !important;
}
#wbk-booking-form-container .wbk-form-separator {
    display: none;
}
#wbk-booking-form-container .wbk-textarea {
    height: 150px !important;
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 12px !important;
    resize: none;
}
#searchsubmit.search-submit {
    margin-left: 0px;
}
.search_jobs.search_jobs--frontpage .level-0 {
    margin: 12px 0;
}
.actions-fields-group .tooltip_top.button-secondary.button.trash_bk_link {
    float: right;
}
#entry-content-anchor #submit-job-form .button {
    width: 70%;
}
#message {
    text-align: center;
}
#avtar_image {
    position: relative;
    display: inline-block;
}
#swpm-editprofile-form tr td img {
    position: relative;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #c2bfbf;
    border-radius: 50%;
    background: #c2bfbf;
    text-align: center;
}
.job-manager-form fieldset .job-manager-uploaded-files .job-manager-uploaded-file .job-manager-uploaded-file-preview img {
    height: 64px;
    margin: 0;
    vertical-align: top;
    object-fit: cover;
}
#commentform input.error, #commentform textarea.error {
    border: 1px solid #ff0000 !important;
}
select, textarea, input[type="text"]{
	padding:8px 14px !important;
}
.job-manager-remove-uploaded-file {
    text-transform: capitalize;
    font-size: 17px !important;
    border-radius: 5px !important;
    line-height: 25px !important;
    width: 100px;
    height: 35px;
}
body .search_jobs.search_jobs div.search_categories {
    padding-top: 0;
}
select#search_categories {
    height: 51px;
    font-size:14px;
}
.search_jobs--frontpage .search-field-wrapper.search-filter-wrapper {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
   flex: inherit !important;

}
.search_jobs--frontpage .search_location input{
	margin-bottom:0px;
}
.page-template-front_page .responsive-tabs .responsive-tabs__heading--active::after, .responsive-tabs .responsive-tabs__heading--active:hover::after {
    display: none;
}

.page-id-11206 select#search_categories {
    height: 35px;
}
 select::-ms-expand {
    display: none;
}
 .column-sidebar.grid__item div.listing-sidebar--secondary.listing-sidebar--bottom{
	width:100%;
}
#swpm-editprofile-form .swpm-edit-profile-submit-section {
    text-align: left;
}
select {
    background-position: 98% 50%;
    background-repeat: no-repeat;
}

.page-listings .listable-child .search_jobs div {
    float: left;
    width: 23% !important;
}
.schedule .widget_sidebar_title {
    font-size: 25px !important;
    margin: 0 !important;
    border-bottom: 1px solid #9ad6f7;
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-weight: normal !important;
    color: #00a5ff !important;
}
.listable-child header.listing-gallery__header span.listing-gallery__title {
    font-size: 25px !important;
    margin: 0 !important;
    padding-bottom: 5px;
    letter-spacing: 1px;
    font-weight: normal !important;
    
    color: #00a5ff !important;
}
.listable-child header.listing-gallery__header{
     border-bottom: 1px solid #9ad6f7;
     padding-bottom:5px;
}
.listable-child a.listing-gallery__all {
    color: #525252;
    line-height: 42px;
}
.listable-child .listing-sidebar.listing-sidebar--bottom.listing-sidebar--secondary {
    padding-top: 0px;
}
#wbk-booking-done{
	position:fixed;
	top:5px;
	z-index:99999;
	right:15px;
	width:40% !important;
	background:#000;
        border-radius: 5px;
}
.wbk-details-sub-title{
	font-size:20px !important;
	color:#fff !important;
}
.footer-menu li a {
    color: #c8c5c5;
}
/*#menu-item-11275 a {
    color: #c8c5c5 !important;
}
#menu-item-11275:hover a {
    color: ##00a5ff !important;
}*/
@media only screen and (max-width: 1024px){
.testimonial_rotator_widget_wrap .testimonial_rotator div.slide{width:30%;margin-right:15px;margin-left:0px;}
#testimonial_rotator_widget_wrap_ .testimonial_rotator_img{width:62%;}
.search_jobs--frontpage .search-field-wrapper.search-filter-wrapper {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}
}

@media only screen and (max-width: 899px){
.listable-child .search_jobs div {
    float: left;
    width: 100%;
}
.search_jobs--frontpage .search-field-wrapper.search-filter-wrapper {
    -webkit-flex: 0 1 365px;
    -ms-flex: 0 1 365px;
    flex: none;
}
.header-content .responsive-tabs .responsive-tabs__panel{
	border-radius:0 0 5px 5px;
}
.grid__item.column-sidebar div.listing-sidebar--bottom.listing-sidebar--secondary {
    margin-top: 0%;
    float: none;
    margin-left: 0px;
}
.single_job_listing .entry-content table:not(.cart-totals):not(.ui-datepicker-calendar) td, #job-manager-job-dashboard table td{
	text-align:center !important;	
}
.single_job_listing .picker__day--disabled, .picker__day--disabled:hover, .picker--focused .picker__day--disabled {
    padding: 12px 0;
    color: #000;
}
.single_job_listing .entry-content table:not(.cart-totals):not(.ui-datepicker-calendar) td, .entry-content table:not(.cart-totals):not(.ui-datepicker-calendar) th, #job-manager-job-dashboard table td, #job-manager-job-dashboard table th{
	padding: 5px 10px;
}
}
@media only screen and (max-width: 700px){
.testimonial_rotator_widget_wrap .testimonial_rotator div.slide{width:45%;margin-left:0px;}
.listable-child header.listing-gallery__header span.listing-gallery__title{
	font-size: 22px !important;	
}
}
@media only screen and (max-width: 767px){
 .job-manager-form fieldset div.field {
    width: 100%;
    float: right;
    vertical-align: middle;
}
#entry-content-anchor #submit-job-form .button {
    width: 100%;
}
}
@media only screen and (max-width: 500px) {
   #main .section-wrap .nav-next{clear: both;
    display: block;
    width: 38%;/*display:none;*/}
.testimonial_rotator_widget_wrap .testimonial_rotator div.slide{width:100%;margin-left:0px;}
#testimonial_rotator_widget_wrap_ .testimonial_rotator_img img{/*margin:-52px 108%;*/}
.widgets_area .front-page-section:nth-child(3) h2.front_page_sections_title{font-size:30px;}
.wbk-details-sub-title{
	line-height:22px !important;
}
.wbk-details-sub-title{
	font-size:15px !important;
}
.widget--footer [id*="social"] li.menu-item {
    height: 2.45rem !important;
    width: 2.45rem !important;
    line-height: 27px;
}
}
@media only screen and (max-width: 480px) {
.barber-profile-div .left {
    float: left;
    width: 100%;
    margin: 0 auto;
}
}
@media only screen and (min-width: 900px){
.search_jobs--frontpage .search-filter-wrapper {
    margin-bottom: 0;
   -webkit-flex:none;
    -ms-flex: none;
    flex:none; 
}

}
