#commentform input.error, #commentform textarea.error {
	border: 1px solid #FF0000;
}
#commentform div.error, #commentform label.error {
	color: #FF0000 !important;
}
#commentform div.errorlabels label {
	display: block;
}

